PYTHON NOTES

In [1]:
print("Hello World")

Hello World

In [2]:
print ('''Twinkle, twinkle, little star,
How I wonder what you are!
Up above the world so high,
Like a diamond in the sky.''')

Twinkle, twinkle, little star,
How I wonder what you are!
Up above the world so high,
Like a diamond in the sky.

VARIABLES AND DATATYPES

In [3]:
# variables:
# integers=1 2 3 4 
# floating point numbers=7.33  6.90
# string= "anu" "radha" 
# boolean= True False
# none type variable = None

OPERATORS

In [4]:
# arithmetic +-*/ 
a=2
b=4
c=a+b
print(c)

6

In [5]:
# assignment = += -=
a=4-2
print(a)
b=8
b-=3  # Increament the value of b by 3 and hen assign it to b
print(b)

2
5

In [6]:
# comparison == > < >= <=
d=5<4
e=5!=4
f=5==5
print(d)
print(f)
print(e)

False
True
True

In [7]:
# logical and or not 
g = True or False

In [8]:
a=2
b="2"
c=66
t=float(c) # c but the type should be float

print(type(a))
print(type(b))
print(type(t))

<class 'int'>
<class 'str'>
<class 'float'>

TAKING INPUT

In [9]:
a=input("Enter Number 1  :")
b=input("Enter Number 2 :")

Enter Number 1  : 2
Enter Number 2 : 4

In [10]:
print("Number a is:",a)
print("Number b is:",b)

Number a is: 2
Number b is: 4

In [11]:
print("Sum is", a+b)

Sum is 24

In [12]:
c=int(input("Enter Number 3:"))
d=int(input("Enter Number 4:"))

Enter Number 3: 2
Enter Number 4: 4

In [13]:
print("Number c is:",c)
print("Number d is:",d)

Number c is: 2
Number d is: 4

In [14]:
print("Sum is", c+d)

Sum is 6

STRING

In [15]:
name = "Anuradha"

In [16]:
name2=len(name)
print(name2)

8

In [17]:
name3=name[0:4]
print(name3)

Anur

In [18]:
name4=name[1]
print(name4)

n

In [19]:
print(name[-4:-1])
print(name[:4])
print(name[4:])
print(name[1:8:2])

adh
Anur
adha
nrda

In [20]:
print(len(name))
print(name.endswith("dha"))
print(name.startswith("dha"))
print(name.capitalize())

8
True
False
Anuradha

ESCAPE SQUENCE

In [21]:
a="Nikita is a bad girl \n but not a naughty girl"

print(a)

Nikita is a bad girl
 but not a naughty girl

In [22]:
b="Nikita is a bad girl \t but not a naughty girl"
print(b)

Nikita is a bad girl 	 but not a naughty girl

In [23]:
c="Nikita is a bad girl \" but not a naughty girl\""
print(c)

Nikita is a bad girl " but not a naughty girl"

In [25]:
#  1. Write a python program to display a user entered name followed by Good Morning using input () function
name=input("Enter your name:")

print(f"Good Morning {name}")

Enter your name: Anu

Good Morning Anu

In [26]:
# Write a program to fill in a letter template given below with name and date.
# letter = '''
# Dear <|Name|>,
# You are selected!
# <|Date|>
# '''
letter = '''dear <name>,
         You are selected !!
           <date>'''

print (letter.replace("<name>","Anu").replace("<date>","29 sept"))

dear Anu,
         You are selected !!
           29 sept

In [27]:
 #    detection of double space 
    # if output is -1 then there is not double space 
    # if output is not -1 then there is a double space 
a = "Anuradha is a good girl"
print(a.find("is"))

9

LIST

In [28]:
friends=["Apple",5,34.5,"Orange",False]

print(friends[0])

Apple

In [29]:
friends[0]="Grapes"
print(friends[0])
print(friends[0:2])

Grapes
['Grapes', 5]

In [30]:
friends.append("ANU")
print(friends)

['Grapes', 5, 34.5, 'Orange', False, 'ANU']

In [32]:
l1=[1,6,8,4,3,9,2]
l1.sort()
print(l1)

[1, 2, 3, 4, 6, 8, 9]

In [33]:
l1.reverse()
print(l1)

[9, 8, 6, 4, 3, 2, 1]

In [34]:
l1.insert(3,7777)
print(l1)

[9, 8, 6, 7777, 4, 3, 2, 1]

In [35]:
l1.pop(3)
print(l1)

[9, 8, 6, 4, 3, 2, 1]

TUPLE

a=(1,2,3,4)
print(type(a))

In [37]:
b=(1)
print(type(b))

<class 'int'>

In [38]:
c=(1,)
print(type(c))

<class 'tuple'>

In [39]:
print(a)
no=a.count(4)
print(no)

(1, 2, 3, 4)
1

In [40]:
i=a.index(4)
print(i)

3

DICTIONARY (A KEY-VALUE PAIR)

In [41]:
d={} # empty dict

In [42]:
marks={"Anu":98,
       "Ishu":97,
       "Nikku":99 
       }


print(marks)

{'Anu': 98, 'Ishu': 97, 'Nikku': 99}

In [43]:
print(type(marks))

<class 'dict'>

In [44]:
print(marks["Anu"])

98

In [45]:
print(marks.items())

dict_items([('Anu', 98), ('Ishu', 97), ('Nikku', 99)])

In [46]:
print(marks.keys())

dict_keys(['Anu', 'Ishu', 'Nikku'])

In [47]:
print(marks.values())

dict_values([98, 97, 99])

In [48]:
marks.update({"Anu":96,"Shambho":98})
print(marks)

{'Anu': 96, 'Ishu': 97, 'Nikku': 99, 'Shambho': 98}

In [50]:
# print(marks["Anu2"]) # returns an error

In [52]:
# print(marks.get["Anu2"]) # prints none

In [53]:
# We can merge 2 dict

dict1 = {'a':1 ,'b':2}
dict2 = {'c':3 ,'d':4}
merged = dict1 | dict2
print(merged)

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

In [54]:
my_dict = {"name": "Anuradha", "age": 20, "city": "Pune"}

In [55]:
# Remove a key using pop()
age = my_dict.pop("age")
print(age)  
print(my_dict)

20
{'name': 'Anuradha', 'city': 'Pune'}

In [56]:
# Remove a key using del
del my_dict["city"]
print(my_dict)

{'name': 'Anuradha'}

In [57]:
# Remove the last item using popitem()
my_dict["country"] = "India"
last_item = my_dict.popitem()
print(last_item)  
print(my_dict)

('country', 'India')
{'name': 'Anuradha'}

In [58]:
# Clear the dictionary
my_dict.clear()
print(my_dict)

{}

In [59]:
d={}

name=input("Enter friends name:")
lang=input("Enter language name:")

Enter friends name: Nikita
Enter language name: Hindi

In [60]:
d.update({name:lang})

In [61]:
name=input("Enter friends name:")
lang=input("Enter language name:")

Enter friends name: Ishwari
Enter language name: Marathi

In [62]:
d.update({name:lang})

In [63]:
print(d)

{'Nikita': 'Hindi', 'Ishwari': 'Marathi'}

SET

In [64]:
# a set is an unordered collection of unique and immutable elements
e=set() # empty set

In [65]:
s={1,2,3,4,3,5,2,6}
print(s)

{1, 2, 3, 4, 5, 6}

In [66]:
s.add(8)
print(s)

{1, 2, 3, 4, 5, 6, 8}

In [67]:
s1={1,3,5,7,8}
s2={2,4,6,8}

In [68]:
print(s1.union(s2))
print(s1.intersection(s2))

{1, 2, 3, 4, 5, 6, 7, 8}
{8}

In [69]:
s=set()
n=input("Enter Number:")

Enter Number: 2

In [70]:
s.add(int(n))

In [71]:
n=input("Enter Number:")

Enter Number: 4

In [72]:
s.add(int(n))

In [73]:
print (s)

{2, 4}

In [74]:
s1=set()
s1.add(2)
s1.add('2')

In [75]:
print(s1)

{2, '2'}

CONDITIONALS

In [77]:
a=int(input("Enter your age:"))
# if elif else ladder

if(a>=18):
    print("You are above the age of consent")

elif(a<0):
    print("You are entering invalid negative age")

elif(a==0):
    print("You are entering 0 which is not valid age")

else:

    print("You are below the age of consent")

Enter your age: 20

You are above the age of consent

In [78]:
marks = int (input("Enter your marks:"))

if(marks<=100 and marks>=90):
    grade="Ex"
elif(marks<90 and marks>=80):
    grade="A"
elif(marks<80 and marks>=70):
    grade="B"
elif(marks<70 and marks>=60):
    grade="C"
elif(marks<60 and marks>=50):
    grade="D"
elif(marks<50 and marks>=40):
    grade="E"

Enter your marks: 92

In [79]:
print("Your grade is:",grade)

Your grade is: Ex

WHILE LOOP

In [80]:
i=1

while(i<6):
    print(i)
    i+=1 
    # i=i+1

1
2
3
4
5

In [81]:
l=[1,"anu",False,4]

i=0

while(i<len(l)):
    print(l[i])
    i=i+1

1
anu
False
4

FOR LOOP

In [83]:
# i=0
# prints n-1

for i in range (4):
    print(i)

0
1
2
3

In [84]:
# stepsize
for i in range (0,50,4):
    print (i)

0
4
8
12
16
20
24
28
32
36
40
44
48

In [85]:
# list
l=[1,3,5,7]

for i in l:
    print(i)

1
3
5
7

In [86]:
# tuple
t=(2,4,6,8)

for i in t:
    print(i)

2
4
6
8

In [87]:
#  string
s="anu"
for i in s:
    print(i)

a
n
u

In [90]:
#    for loop with else

u=[1,2,3,4,5]

for item in u:
    print(item)
else:
    print("done")

1
2
3
4
5
done

In [91]:
# break

for i in range (50):
    if(i==5):
        break # exit
    print(i)

0
1
2
3
4

In [92]:
# continue

for i in range (50):
    if(i==5):
        continue # skip only 5
    print(i)

0
1
2
3
4
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49

In [93]:
# pass

for i in range (78):
    pass # null

In [95]:
#   Q1  table

n=int(input("Enter a number:"))

for i in range (1,11):
    print(f"{n}*{i}={n*i}")

Enter a number: 2

2*1=2
2*2=4
2*3=6
2*4=8
2*5=10
2*6=12
2*7=14
2*8=16
2*9=18
2*10=20

In [96]:
n=int(input("Enter a number:"))

i=1
while(i<11):

    print(f"{n}*{i}={n*i}")
    i=i+1

Enter a number: 2

2*1=2
2*2=4
2*3=6
2*4=8
2*5=10
2*6=12
2*7=14
2*8=16
2*9=18
2*10=20

In [100]:
    # for prime number

# n=int(input("Enter a number:"))

# for i in range (2,n):
    
#     if(n%i)==0:
#         print ("Number is not prime")
#         break
#     else:
#         print("Number is prime")

In [101]:
# sum

n=int(input("Enter a number:"))
i=1
sum=0
while(i<=n):
    sum += i
    i=i+1

print(sum)

Enter a number: 2

3

In [102]:
# factorial
n=int(input("Enter a number:"))
product=1
for i in range(1,n+1):
    product=product*i

print(f"The factorial of {n} is {product}")

Enter a number: 2

The factorial of 2 is 2

STAR PATTERN

In [103]:
'''
for n=3
  *
 ***
*****

'''

n=int(input("Enter the number:"))
for i in range(1,n+1):
    print(" "*(n-i), end="")
    print("*"*(2*i-1), end="")
    print("")

Enter the number: 3

  *
 ***
*****

In [104]:
'''
for n=3
*
**
***

'''

n=int(input("Enter the number:"))
for i in range(1,n+1):
    
    print("*"*i, end="")
    print("")

Enter the number: 3

*
**
***

In [106]:
'''
for n=3
***
***
***

'''
n=int(input("Enter the number:"))
for i in range(1,n+1):
    if(i==1 or i==n):
       print("*"*n, end="")

    else:
        print("*",end="")
        print("*"*(n-2),end="")
        print("*",end="")

    print("")

Enter the number: 3

***
***
***

In [107]:
  # ulta table

n=int(input("Enter a number:"))

for i in range (1,11):
    print(f"{n}*{11-i}={n*(11-i)}")

Enter a number: 2

2*10=20
2*9=18
2*8=16
2*7=14
2*6=12
2*5=10
2*4=8
2*3=6
2*2=4
2*1=2

FUNCTION

In [108]:
# syntax
# function definition
def func1():
    print("hello")

In [109]:
# function call
func1()

hello

In [110]:
# avrage of numbers in many times

# / => Returns Floating point 
# // => Returns Integer

In [111]:
def avg():
    a=int(input("Enter your number:"))
    b=int(input("Enter your number:"))
    c=int(input("Enter your number:"))

    average=(a+b+c)/3
    print(average)


avg()

Enter your number: 2
Enter your number: 4
Enter your number: 8

4.666666666666667

In [112]:
# name and ending are the arguments 

def goodDay(name, ending):
    print("Good Day," +name)
    print(ending)

goodDay("Anu","Thank You")

Good Day,Anu
Thank You

In [113]:
def goodDay(name, ending):
    print("Good Day," +name)
    print(ending)

a=goodDay("Anu","Thank You")
print(a)

Good Day,Anu
Thank You
None

In [114]:
def goodDay(name, ending):
    print("Good Day," +name)
    print(ending)
    return
b=goodDay("Anu","Thank You")
print(b)

Good Day,Anu
Thank You
None

In [115]:
def goodDay(name, ending):
    print("Good Day," +name)
    print(ending)
    return 2
c=goodDay("Anu","Thank You")
print(c)

Good Day,Anu
Thank You
2

In [116]:
# default arguments

def goodDay(name, ending="Thank You"):
    print("Good Day," +name)
    # print(f"Good Day, {name}")
    print(ending)

goodDay("Anu","Thanks")
goodDay("anu")

Good Day,Anu
Thanks
Good Day,anu
Thank You

RECURSION

In [117]:
# factorial(n)=n*factorial(n-1)

def factorial(n):
    if(n==1 or n==0):
        return 1
    return n*factorial(n-1)

n=int(input("Enter a number:"))
print(f"The factorial of this number is : {factorial(n)}")

Enter a number: 2

The factorial of this number is : 2

In [118]:
            # greatest number

def greatest(a,b,c):
    if(a>b and a>c):
        return a
    elif(b>a and b>c):
        return b
    elif(c>b and c>a):
        return c
    
a=3
b=4
c=8

print(greatest(a,b,c))

8

In [119]:
# celsius to fahrenheit
# c/5 = (f-32)/9
# c = 5 * (f-32)/9

def temp(f):
    return 5 * (f-32)/9

f=int(input("Enter temp in f:"))
print()
# print(f"{f} Degree C ")
# print(f"{round (f,2)} Degree C ")

Enter temp in f: 346

In [120]:
# How to new line avoid

print("a",end="")
print("b",end="")

ab

In [121]:
# sum of natural no 

# sum(n) = sum(n-1) + n

def sum(n):
    if(n==1):
        return 1
    return sum(n-1) + n

print(sum(4))

10

In [122]:
def pattern(n):
    if(n==0):
        return 
    print("*"*n)
    pattern(n-1)


pattern(5)

*****
****
***
**
*

In [123]:
def rem(l,word):
    n=[]
    for item in l:
        if not (item == word):
            n.append(item.strip(word))
    return n

In [124]:
l=["a","b","cd","d"]
print(rem(l,"d"))

['a', 'b', 'c']

In [125]:
# multiply table

def multiply(n):
    for i in range (1,11):
        print(f"{n}*{i}={n*i}")

multiply(5)

5*1=5
5*2=10
5*3=15
5*4=20
5*5=25
5*6=30
5*7=35
5*8=40
5*9=45
5*10=50

In [127]:
# How to open a file

f = open("file.txt","r")
data = f.read()
print(data)
f.close()

I am ##### line
I am second line
I am third line
I am ###### line


nikita is a ######

In [128]:
# How to open multiple files

with (
    open('file.txt', 'r') as f1,
    open('myfile.txt', 'r') as f2
):
    content1 = f1.read()
    content2 = f2.read()
    print(content1)
    print(content2)

I am ##### line
I am second line
I am third line
I am ###### line


nikita is a ######
A data scientist is someone who practices Data Science to analyze data so that they can provide actionable insights by using various processes, methods, systems, and algorithms. A Data Scientist is a highly qualified professional with highly developed mathematical, statistical, scientific, analytical and technical skills who can prepare, clean, and validate structured and unstructured data for businesses to use to make better decisions. As a whole, they must fulfill several responsibilities, as follows:
Identify data sources and gather data.
Analyze structured and unstructured data effectively.
Formulate strategies to solve business challenges.
Create data strategies in collaboration with team members and leaders.
Use algorithms and modules to uncover trends and patterns.
Cleaning and verifying the data to ensure it is accurate and uniformA data scientist is someone who practices Data Science to analyze data so that they can provide actionable insights by using various processes, methods, systems, and algorithms. A Data Scientist is a highly qualified professional with highly developed mathematical, statistical, scientific, analytical and technical skills who can prepare, clean, and validate structured and unstructured data for businesses to use to make better decisions. As a whole, they must fulfill several responsibilities, as follows:
Identify data sources and gather data.
Analyze structured and unstructured data effectively.
Formulate strategies to solve business challenges.
Create data strategies in collaboration with team members and leaders.
Use algorithms and modules to uncover trends and patterns.
Cleaning and verifying the data to ensure it is accurate and uniformA data scientist is someone who practices Data Science to analyze data so that they can provide actionable insights by using various processes, methods, systems, and algorithms. A Data Scientist is a highly qualified professional with highly developed mathematical, statistical, scientific, analytical and technical skills who can prepare, clean, and validate structured and unstructured data for businesses to use to make better decisions. As a whole, they must fulfill several responsibilities, as follows:
Identify data sources and gather data.
Analyze structured and unstructured data effectively.
Formulate strategies to solve business challenges.
Create data strategies in collaboration with team members and leaders.
Use algorithms and modules to uncover trends and patterns.
Cleaning and verifying the data to ensure it is accurate and uniformA data scientist is someone who practices Data Science to analyze data so that they can provide actionable insights by using various processes, methods, systems, and algorithms. A Data Scientist is a highly qualified professional with highly developed mathematical, statistical, scientific, analytical and technical skills who can prepare, clean, and validate structured and unstructured data for businesses to use to make better decisions. As a whole, they must fulfill several responsibilities, as follows:
Identify data sources and gather data.
Analyze structured and unstructured data effectively.
Formulate strategies to solve business challenges.
Create data strategies in collaboration with team members and leaders.
Use algorithms and modules to uncover trends and patterns.
Cleaning and verifying the data to ensure it is accurate and uniform

In [131]:
f = open ("myfile.txt","w")

f.write("and")
f.close()

In [132]:
# for all lines

f = open("file.txt")

lines = f.readlines()
print(lines,type(lines))

f.close()

['I am ##### line\n', 'I am second line\n', 'I am third line\n', 'I am ###### line\n', '\n', '\n', 'nikita is a ######'] <class 'list'>

In [133]:
# for particular line


f = open("file.txt")

line1 = f.readline()
print(line1,type(line1))

line2 = f.readline()
print(line2,type(line2))

line3 = f.readline()
print(line3,type(line3))

I am ##### line
 <class 'str'>
I am second line
 <class 'str'>
I am third line
 <class 'str'>

In [134]:
# end if empty string is print

f.close()

In [135]:
# using loop

f = open("file.txt")
line = f.readline()
while(line != ""):
    print(line)
    line = f.readline()

f.close()

I am ##### line

I am second line

I am third line

I am ###### line





nikita is a ######

In [136]:
f = open("file.txt")
print(f.read())
f.close()

# The same can be written using with statement 

with open("file.txt") as f:
    print(f.read())

# you don't have to close the file

I am ##### line
I am second line
I am third line
I am ###### line


nikita is a ######
I am ##### line
I am second line
I am third line
I am ###### line


nikita is a ######

In [137]:
# Q1

f = open("poem.txt")
content = f.read()
if("Twinkle"in content):
    print("present")

else:
    print("not present")

f.close()

present

ATTRIBUTES

In [141]:
class Employee:
    language = "Py" # class attribute
    salary = 12000

In [142]:
anu = Employee()
anu.name = "Anu" # object / instance attribute
print(anu.name,anu.language,anu.salary)

Anu Py 12000

In [143]:
anu.language = "Java" # object / instance attribute
print(anu.name,anu.language,anu.salary)
print(Employee.language)

# instance > class
# it can't change class attribute

Anu Java 12000
Py

In [144]:
class Employee:
    language = "Py" # class attribute
    salary = 12000

In [145]:
 def getInfo (self):
        print(f"The language is {self.language}. The salary is {self.salary}")

In [148]:
#  if we want print something without self then 

@staticmethod
def greet ():
    print ("GM")

# anu = Employee()
# anu.getInfo()  # Employee.getInfo(anu)
# anu.greet()

In [149]:
anu = Employee()

In [151]:
 def __init__(self): # dunder method which is automatically called
        print("helloooo")

In [152]:
anu = Employee()
anu.name = "Anu" # object / instance attribute
print(anu.name,anu.language,anu.salary)

Anu Py 12000

INHERITANCE

In [153]:
class Employee:
    company = "ITC"
    def show(self):
        print(f"The name of the Employee is {self.name} and the salary is {self.salary}")

In [154]:
class Programmer(Employee):
    company = "ITC Infotech"
    def showLanguage(self):
        print(f"The name is {self.name} and he is good with {self.language} language")

In [155]:
a = Employee()
b = Programmer()

In [156]:
print(a.company , b.company)

ITC ITC Infotech

MULTIPLE INHERITANCE

In [157]:
class Employee:
    company = "ITC"
    name = "Default name"
    def show(self):
        print(f"The name of the Employee is {self.name} and the company is {self.company}")

class Coder:
    language = "Python"
    def printLanguage(self):
        print(f"Out of all the language here is your language : {self.language}")


class Programmer(Employee , Coder):
    company = "ITC Infotech"
    def showLanguage(self):
        print(f"The name is {self.company} and he is good with {self.language} language")


a = Employee()
b = Programmer()

b.show()
b.printLanguage()
b.showLanguage()

The name of the Employee is Default name and the company is ITC Infotech
Out of all the language here is your language : Python
The name is ITC Infotech and he is good with Python language

MULTILEVEL INHERITANCE

In [158]:
class Employee:
    a = 1

class Programmer(Employee):
    b = 2

class Manager(Programmer):
    c = 3

o = Employee()
print(o.a)  
o = Programmer()
print(o.a , o.b)  
o = Manager()
print(o.a , o.b , o.c)

1
1 2
1 2 3

SUPER INHERITANCE

In [159]:
class Employee:
    print("Constructor of Employee")
    a = 1

class Programmer(Employee):
    def __init__(self):
        print("Constructor of Programmer")
    b = 2

class Manager(Programmer):
    def __init__(self):
        super().__init__()
    print("Constructor of Manager")
    c = 3

o = Employee()
print(o.a)  
o = Programmer()
print(o.a , o.b)  
o = Manager()
print(o.a , o.b , o.c)

Constructor of Employee
Constructor of Manager
1
Constructor of Programmer
1 2
Constructor of Programmer
1 2 3

CLASS METHOD

In [160]:
class Employee:
    a = 1

    @classmethod
    def show(cls):
        print(f"The class attribute of a is {cls.a}")

e = Employee ()
e.a = 45

e.show()

The class attribute of a is 1

PROPERTY DECORATORS

In [161]:
class Employee:
    a = 1

    @classmethod
    def show(cls):
        print(f"The class attribute of a is {cls.a}")


    @property
    def name(self):
        return self.ename
        # for name and surname
        # return f"{self.fname} {self.lname}"
    

    @name.setter
    def name (self , value):
        self.ename = value
        # for name and surname
        # self.fname = value.split(" ")[0]
        # self.lname = value.split(" ")[1]

e = Employee ()
e.a = 45

e.name = "Anu"
print(e.name)

e.show()

Anu
The class attribute of a is 1

WALRUS

In [162]:
if(n := len([1,2,3,4,5])) > 3 :
    print(f"List is too long ({n} elements , expected <= 3)")

List is too long (5 elements , expected <= 3)

TYPES

In [163]:
from typing import List , Tuple , Dict , Union

# List of integers 
numbers : List[int] = [1,2,3,4,5]

# Tuple of string and integer
person : Tuple[str , int] = ("Anu" , 20)

# Dictionary with string keys and integer values
scores : Dict[str , int] = {"Anu":90 , "Ishu":88}

# Union type for variables that can hold multiple types
identifier : Union[int , str] = "135678"
identifier = 1234

MATCH CASE

In [164]:
def http_status(status):
    match status:
        case 200:
            return "OK"
        case 400:
            return "Not Found"
        case 500:
            return "Internal Server Error"
        case _:
            return "Unknown Status"
        

print(http_status(500))

Internal Server Error

EXEPTION

In [165]:
try:
    a = int(input("Hey , Enter a number:"))
    print(a)

# we can handle a particular exception

except ValueError as v:
    print("Heyyyy")
    print()

except Exception as e :
    print(e)

print("Thank You")

# raising error in a program

b = int(input("Hey , Enter a number:"))
c = int(input("Hey , Enter second number:"))

if(c == 0):
    raise ZeroDivisionError("Hey our program is not meant to divide numbers by zero")
else:
    print(f"The division b/c is {b/c}")

Hey , Enter a number: 2

2
Thank You

Hey , Enter a number: G

ValueError: invalid literal for int() with base 10: 'G'

TRY WITH ELSE

In [166]:
try:
    a = int(input("Hey , Enter a number:"))
    print(a)


except Exception as e :
    print(e)

else :
    print("I am inside else")


     # if program is successfully execute then it goes in else otherwise not

Hey , Enter a number: 2

2
I am inside else

TRY WITH FINALLY

In [167]:
def main ():
    try:
        a = int(input("Hey , Enter a number:"))
        print(a)
        return

    except Exception as e :
       print(e)
       return
    
    finally :
        print("I am inside finally")

main()
    #  if input is valid or not then without function finally prints and without finally statement prints 
    #  if input is valid or not then with function finally prints and without finally statement not print

Hey , Enter a number: 2

2
I am inside finally

GLOBAL VARIABLE

In [168]:
# global variable
a = 22

def fun ():
    global a  # global keyword
    a = 4
    print (a)

fun()

4

ENUMERATE

In [169]:
l =[2,4,6,8]

# index = 0
# for item in l:
#     print(f"The item number at index {index} is {item}")
#     index += 1 

# this can be simplified using enumerate function

for index , item in enumerate(l):
    print(f"The item number at index {index} is {item}")

The item number at index 0 is 2
The item number at index 1 is 4
The item number at index 2 is 6
The item number at index 3 is 8

LIST COMPREHENSIONS

In [170]:
l = [2,4,6,8]

# squaredl = []
# for item in l:
#     squaredl.append(item*item)

# print(squaredl)

squaredl = [i*i for i in l]

print(squaredl)

[4, 16, 36, 64]